In [24]:
import pandas as pd
import time

In [2]:
# api url from the tmdb websites
import requests

url = "https://api.themoviedb.org/3/movie/top_rated"
params = {
    "api_key": "073cfe0d7c3d204ff6814a05f45940a7",  # Replace with your actual TMDb API key
    "language": "en-US",
    "page": 1
}
headers = {"accept": "application/json"}

response = requests.get(url, headers=headers, params=params)

print(response.text)

{"page":1,"results":[{"adult":false,"backdrop_path":"/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg","genre_ids":[18,80],"id":278,"original_language":"en","original_title":"The Shawshank Redemption","overview":"Imprisoned in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.","popularity":31.2546,"poster_path":"/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg","release_date":"1994-09-23","title":"The Shawshank Redemption","video":false,"vote_average":8.71,"vote_count":28372},{"adult":false,"backdrop_path":"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg","genre_ids":[18,80],"id":238,"original_language":"en","original_title":"The Godfather","overview":"Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.","popularity":38.9533,"poster_path":"/3bhkrj58Vtu7enYsRolD1fZdja1.jpg","release_date":"1972-03-14","title":"The Godfather","video":false,"vote_average":8.686,"vote_count":21490},{"adult":false,"backdrop_path":"/kGzFbGhp99zva6oZODW5atUtnqi.jpg","genre_ids":[18,80],"id":240,"original_language":"en","original_title":"The Godfather Part II","overview":"In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.","popularity":17.2509,"poster_path":"/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg","release_date":"1974-12-20","title":"The Godfather Part II","video":false,"vote_average":8.57,"vote_count":12984},{"adult":false,"backdrop_path":"/zb6fM1CX41D9rF9hdgclu0peUmy.jpg","genre_ids":[18,36,10752],"id":424,"original_language":"en","original_title":"Schindler's List","overview":"The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.","popularity":27.0551,"poster_path":"/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg","release_date":"1993-12-15","title":"Schindler's List","video":false,"vote_average":8.564,"vote_count":16462},{"adult":false,"backdrop_path":"/bxgTSUenZDHNFerQ1whRKplrMKF.jpg","genre_ids":[18],"id":389,"original_language":"en","original_title":"12 Angry Men","overview":"The defense and the prosecution have rested and the jury is filing into the jury room to decide if a young Spanish-American is guilty or innocent of murdering his father. What begins as an open and shut case soon becomes a mini-drama of each of the jurors' prejudices and preconceptions about the trial, the accused, and each other.","popularity":18.7898,"poster_path":"/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg","release_date":"1957-04-10","title":"12 Angry Men","video":false,"vote_average":8.548,"vote_count":9152},{"adult":false,"backdrop_path":"/m4TUa2ciEWSlk37rOsjiSIvZDXE.jpg","genre_ids":[16,10751,14],"id":129,"original_language":"ja","original_title":"千と千尋の神隠し","overview":"A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.","popularity":19.7073,"poster_path":"/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg","release_date":"2001-07-20","title":"Spirited Away","video":false,"vote_average":8.536,"vote_count":17174},{"adult":false,"backdrop_path":"/enNubozHn9pXi0ycTVYUWfpHZm.jpg","genre_ids":[18,28,80,53],"id":155,"original_language":"en","original_title":"The Dark Knight","overview":"Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.","popularity":26.6326,"poster_path":"/qJ2tW6WMUDux911r6m7haRef0WH.jpg","release_date":"2008-07-16","title":"The Dark Knight","video":false,"vote_average":8.52,"vote_count":33906},{"adult":false,"backdrop_path":"/90ez6ArvpO8bvpyIngBuwXOqJm5.jpg","genre_ids":[35,18,10749],"id":19404,"original_language":"hi","original_title":"दिलवाले दुल्हनिया ले जायेंगे","overview":"Raj is a rich, carefree, happy-go-lucky second generation NRI. Simran is the daughter of Chaudhary Baldev Singh, who in spite of being an NRI is very strict about adherence to Indian values. Simran has left for India to be married to her childhood fiancé. Raj leaves for India with a mission at his hands, to claim his lady love under the noses of her whole family. Thus begins a saga.","popularity":9.0979,"poster_path":"/rfcy6Gd3PbFIqwZX5U8xnbv7jOc.jpg","release_date":"1995-10-20","title":"Dilwale Dulhania Le Jayenge","video":false,"vote_average":8.516,"vote_count":4487},{"adult":false,"backdrop_path":"/amZavErrjrdgDwhsIdpWxHNenIx.jpg","genre_ids":[14,18,80],"id":497,"original_language":"en","original_title":"The Green Mile","overview":"A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people's ailments. When the cell block's head guard, Paul Edgecomb, recognizes Coffey's miraculous gift, he tries desperately to help stave off the condemned man's execution.","popularity":24.3364,"poster_path":"/8VG8fDNiy50H4FedGwdSVUPoaJe.jpg","release_date":"1999-12-10","title":"The Green Mile","video":false,"vote_average":8.505,"vote_count":18121},{"adult":false,"backdrop_path":"/hiKmpZMGZsrkA3cdce8a7Dpos1j.jpg","genre_ids":[35,53,18],"id":496243,"original_language":"ko","original_title":"기생충","overview":"All unemployed, Ki-taek's family takes peculiar interest in the wealthy and glamorous Parks for their livelihood until they get entangled in an unexpected incident.","popularity":26.5187,"poster_path":"/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg","release_date":"2019-05-30","title":"Parasite","video":false,"vote_average":8.499,"vote_count":19091},{"adult":false,"backdrop_path":"/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg","genre_ids":[53,80],"id":680,"original_language":"en","original_title":"Pulp Fiction","overview":"A burger-loving hit man, his philosophical partner, a drug-addled gangster's moll and a washed-up boxer converge in this sprawling, comedic crime caper. Their adventures unfurl in three stories that ingeniously trip back and forth in time.","popularity":18.7939,"poster_path":"/vQWk5YBFWF4bZaofAbv0tShwBvQ.jpg","release_date":"1994-09-10","title":"Pulp Fiction","video":false,"vote_average":8.489,"vote_count":28707},{"adult":false,"backdrop_path":"/2u7zbn8EudG6kLlBzUYqP8RyFU4.jpg","genre_ids":[12,14,28],"id":122,"original_language":"en","original_title":"The Lord of the Rings: The Return of the King","overview":"As armies mass for a final battle that will decide the fate of the world--and powerful, ancient forces of Light and Dark compete to determine the outcome--one member of the Fellowship of the Ring is revealed as the noble heir to the throne of the Kings of Men. Yet, the sole hope for triumph over evil lies with a brave hobbit, Frodo, who, accompanied by his loyal friend Sam and the hideous, wretched Gollum, ventures deep into the very dark heart of Mordor on his seemingly impossible quest to destroy the Ring of Power.​","popularity":18.801,"poster_path":"/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg","release_date":"2003-12-17","title":"The Lord of the Rings: The Return of the King","video":false,"vote_average":8.485,"vote_count":25119},{"adult":false,"backdrop_path":"/8x9iKH8kWA0zdkgNdpAew7OstYe.jpg","genre_ids":[16,10749,18],"id":372058,"original_language":"ja","original_title":"君の名は。","overview":"High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Taki’s body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.","popularity":28.1884,"poster_path":"/8GJsy7w7frGquw1cy9jasOGNNI1.jpg","release_date":"2016-08-26","title":"Your Name.","video":false,"vote_average":8.483,"vote_count":11792},{"adult":false,"backdrop_path":"/tlEFuIlaxRPXIYVHXbOSAMCfWqk.jpg","genre_ids":[35,18,10749],"id":13,"original_language":"en","original_title":"Forrest Gump","overview":"A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.","popularity":20.7815,"poster_path":"/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg","release_date":"1994-06-23","title":"Forrest Gump","video":false,"vote_average":8.468,"vote_count":28252},{"adult":false,"backdrop_path":"/x4biAVdPVCghBlsVIzB6NmbghIz.jpg","genre_ids":[37],"id":429,"original_language":"it","original_title":"Il buono, il brutto, il cattivo","overview":"While the Civil War rages on between the Union and the Confederacy, three men – a quiet loner, a ruthless hitman, and a Mexican bandit – comb the American Southwest in search of a strongbox containing $200,000 in stolen gold.","popularity":12.6539,"poster_path":"/bX2xnavhMYjWDoZp1VM6VnU1xwe.jpg","release_date":"1966-12-22","title":"The Good, the Bad and the Ugly","video":false,"vote_average":8.461,"vote_count":9003},{"adult":false,"backdrop_path":"/l33oR0mnvf20avWyIMxW02EtQxn.jpg","genre_ids":[12,18,878],"id":157336,"original_language":"en","original_title":"Interstellar","overview":"The adventures of a group of explorers who make use of a newly discovered wormhole to surpass the limitations on human space travel and conquer the vast distances involved in an interstellar voyage.","popularity":35.1662,"poster_path":"/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg","release_date":"2014-11-05","title":"Interstellar","video":false,"vote_average":8.455,"vote_count":37214},{"adult":false,"backdrop_path":"/7TF4p86ZafnxFuNqWdhpHXFO244.jpg","genre_ids":[18,80],"id":769,"original_language":"en","original_title":"GoodFellas","overview":"The true story of Henry Hill, a half-Irish, half-Sicilian Brooklyn kid who is adopted by neighbourhood gangsters at an early age and climbs the ranks of a Mafia family under the guidance of Jimmy Conway.","popularity":33.1656,"poster_path":"/aKuFiU82s5ISJpGZp7YkIr3kCUd.jpg","release_date":"1990-09-12","title":"GoodFellas","video":false,"vote_average":8.455,"vote_count":13398},{"adult":false,"backdrop_path":"/sJNNMCc6B7KZIY3LH3JMYJJNH5j.jpg","genre_ids":[28,18],"id":346,"original_language":"ja","original_title":"七人の侍","overview":"A samurai answers a village's request for protection after he falls on hard times. The town needs protection from bandits, so the samurai gathers six others to help him teach the people how to defend themselves, and the villagers provide the soldiers with food.","popularity":9.4736,"poster_path":"/8OKmBV5BUFzmozIC3pPWKHy17kx.jpg","release_date":"1954-04-26","title":"Seven Samurai","video":false,"vote_average":8.455,"vote_count":3897},{"adult":false,"backdrop_path":"/tDFvXn4tane9lUvFAFAUkMylwSr.jpg","genre_ids":[16,18,10752],"id":12477,"original_language":"ja","original_title":"火垂るの墓","overview":"In the final months of World War II, 14-year-old Seita and his sister Setsuko are orphaned when their mother is killed during an air raid in Kobe, Japan. After a falling out with their aunt, they move into an abandoned bomb shelter. With no surviving relatives and their emergency rations depleted, Seita and Setsuko struggle to survive.","popularity":0.0092,"poster_path":"/k9tv1rXZbOhH7eiCk378x61kNQ1.jpg","release_date":"1988-04-16","title":"Grave of the Fireflies","video":false,"vote_average":8.4,"vote_count":5906},{"adult":false,"backdrop_path":"/6aNKD81RHR1DqUUa8kOZ1TBY1Lp.jpg","genre_ids":[35,18],"id":637,"original_language":"it","original_title":"La vita è bella","overview":"A touching story of an Italian book seller of Jewish ancestry who lives in his own little fairy tale. His creative and happy life would come to an abrupt halt when his entire family is deported to a concentration camp during World War II. While locked up he tries to convince his son that the whole thing is just a game.","popularity":13.182,"poster_path":"/74hLDKjD5aGYOotO6esUVaeISa2.jpg","release_date":"1997-12-20","title":"Life Is Beautiful","video":false,"vote_average":8.447,"vote_count":13386}],"total_pages":509,"total_results":10166}

In [12]:
# convert the above data into json format and get only the results key and from the results get the specific column 
df = pd.DataFrame(response.json()['results'])[['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count']]

In [13]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,31.2546,8.710,28372
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,38.9533,8.686,21490
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,17.2509,8.570,12984
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,27.0551,8.564,16462
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,18.7898,8.548,9152
5,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,19.7073,8.536,17174
6,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,26.6326,8.520,33906
7,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,9.0979,8.516,4487
8,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,24.3364,8.505,18121
9,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,26.5187,8.499,19091
10,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,18.7939,8.489,28707
11,122,The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...,2003-12-17,18.8010,8.485,25119
12,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,28.1884,8.483,11792
13,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,20.7815,8.468,28252
14,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-22,12.6539,8.461,9003
15,157336,Interstellar,The adventures of a group of explorers who mak...,2014-11-05,35.1662,8.455,37214
16,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,33.1656,8.455,13398
17,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,9.4736,8.455,3897
18,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-16,0.0092,8.400,5906
19,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,13.1820,8.447,13386

In [21]:
df = pd.DataFrame()

In [22]:
df

Empty DataFrame
Columns: []
Index: []

In [25]:
all_data = [] # collect row here

for i in range(1, 510):
    try: 
        response = requests.get(f"https://api.themoviedb.org/3/movie/top_rated?api_key=073cfe0d7c3d204ff6814a05f45940a7&language=en-US&page={i}")
        response.raise_for_status() # raises error if request failed
        
        data = response.json().get('results', [])
        if not data:
            break  # Stop if there are no more results

        # Extract required columns
        temp_df = pd.DataFrame(data)[['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count']]
        all_data.append(temp_df)

        time.sleep(0.2)  # Be polite to the API (adjust if rate-limited)

    except Exception as e:
        print(f"Error on page {i}: {e}")
        break


# combine all data
df = pd.concat(all_data, ignore_index = True)

Error on page 501: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=073cfe0d7c3d204ff6814a05f45940a7&language=en-US&page=501

In [27]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,31.2546,8.710,28372
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,38.9533,8.686,21490
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,17.2509,8.570,12984
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,27.0551,8.564,16462
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,18.7898,8.548,9152
...,...,...,...,...,...,...,...
9995,456048,The Humanity Bureau,In 2030 the world is in a permanent state of e...,2017-07-11,2.0059,4.800,372
9996,889,The Flintstones in Viva Rock Vegas,The Flintstones are at it again. The Flintston...,2000-04-28,5.0149,4.785,767
9997,412547,Killing Gunther,A group of eccentric assassins are fed up with...,2017-09-22,3.3480,4.800,408
9998,74997,The Human Centipede 2 (Full Sequence),"Inspired by the fictional Dr. Heiter, disturbe...",2011-10-06,5.8710,4.800,1347
9999,916740,Brazen,Mystery writer Grace Miller has killer instinc...,2022-01-13,3.1863,4.772,379

In [28]:
df.to_csv("movies.csv")